<ion-header>
  <ion-navbar>
    <ion-title>
      Products
    </ion-title>
    <ion-buttons right>
      <button ion-button
              icon-only
              (click)="getProducts()">
                  <ion-icon name="refresh-circle"></ion-icon>
                </button>
      <button margin-left
              ion-button
              icon-only
              (click)="addProduct()">
                    <ion-icon name="add"></ion-icon>
                  </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-input type="text"
                     placeholder="Search product"
                     [(ngModel)]="searchedValue"></ion-input>
          <button ion-button
                  item-end
                  clear
                  (click)="searchProduct()">Search</button>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <!-- <ion-item>
          <ion-label>Filter by categories</ion-label>
          <ion-select multiple="true"
                      (ionChange)="filterByCategory($event)">
            <ion-option *ngFor="let category of categories"
                        value="{{category.id}}">{{category.name}}</ion-option>
          </ion-select>
        </ion-item> -->
      </ion-col>
      <ion-col col-3>
        <!-- <ion-item>
          <ion-label>Filter by brand</ion-label>
          <ion-select (ionChange)="filterByBrand($event)">
            <ion-option *ngFor="let brand of brands"
                        value="{{brand.id}}">{{brand.name}}</ion-option>
          </ion-select>
        </ion-item> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <h1 text-center
      color="primary"
      *ngIf="products && products.length === 0">No results for the search of: <strong>{{searchedValue}}</strong></h1>
  <ion-list *ngIf="products && products.length > 0">
    <ion-item *ngFor="let product of products"
              (click)="editProduct(product)">
      <ion-avatar item-start>
        <img src="{{product.image}}">
      </ion-avatar>
      <h2>{{product.name}} - <strong>{{product.brand.name}}</strong></h2>
      <h3>{{product.description}}</h3>
      <ion-badge margin-right
                 *ngFor="let category of product.categories">{{category.name}}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button
              icon-only
              (click)="getProductsByPage(currentPage - 1)"
              [disabled]="currentPage <= 1">
                  <ion-icon name="arrow-dropleft"></ion-icon>
                </button>
    </ion-buttons>
    <p text-center>{{currentPage}} of {{totalPages}}</p>
    <ion-buttons right>
      <button ion-button
              icon-only
              [disabled]="currentPage === totalPages"
              (click)="getProductsByPage(currentPage + 1)">
                <ion-icon name="arrow-dropright"></ion-icon>
              </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>