<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form novalidate
        [formGroup]="product">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text"
                 formControlName="name"></ion-input>
    </ion-item>
    <p margin-left
       *ngIf="product.controls.name?.errors?.required && product.controls.name.touched">Ops, this field is required</p>
    <ion-item>
      <ion-label floating>Description</ion-label>
      <ion-input type="text"
                 formControlName="description"></ion-input>
    </ion-item>
    <p margin-left
       *ngIf="product.controls.description?.errors?.required && product.controls.description.touched">Ops, this field is required</p>
    <ion-item>
      <ion-label floating>URL</ion-label>
      <ion-input type="text"
                 formControlName="url"></ion-input>
    </ion-item>
    <ion-item margin-top>
      <ion-label>Categories</ion-label>
      <ion-select multiple="true"
                  formControlName="categories">
        <ion-option *ngFor="let category of categories"
                    value="{{category.id}}">{{category.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item margin-top>
      <ion-label>Brand</ion-label>
      <ion-select formControlName="brand">
        <ion-option *ngFor="let brand of brands"
                    value="{{brand.id}}">{{brand.name}}</ion-option>
      </ion-select>
    </ion-item>
    <p margin-left
       *ngIf="product.controls.brand?.errors?.required && product.controls.brand.touched">Ops, this field is required</p>
    <button ion-button
            margin-top
            float-end
            [disabled]="!product.valid"
            (click)="addOrEditProduct()">{{buttonText}}</button>
  </form>
</ion-content>